header {
    background-color: var(--fg-color);
    margin-bottom: 4em;
    font-size: 1.25rem;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: max-content max-content max-content auto;
}

header ul li {
    padding: 1em;
}

header li:last-child {
    outline: none;
    display: block;
    margin-left: auto;
}

header a {
    text-decoration: none;
    color: inherit;
}