header {
    background-color: var(--foreground);
    margin-bottom: 4em;
    font-size: 1.25rem;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: max-content max-content max-content auto;
}

header ul li {
    padding: 1em;
}

header li:last-child {
    outline: none;
    display: block;
    margin-left: auto;
}

header a {
    text-decoration: none;
    color: inherit;
}

.logout {
    border: none;
    padding: 6px 16px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 410;
    background-color: var(--error);
    color: var(--on-error);
}