*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    --background: #1a1c1e;
    --foreground: rgba(146, 204, 255, 0.05);
    --on-background: #e2e2e5;
    --primary: #92ccff;
    --on-primary: #003351;
    --primary-container: #004b73;
    --on-primary-container: #cce5ff;
    --secondary: #b8c8da;
    --on-secondary: #23323f;
    --secondary-container: #394857;
    --on-secondary-container: #d4e4f6;
    --tertiary: #d1bfe7;
    --on-tertiary: #372a4a;
    --tertiary-container: #4e4162;
    --on-tertiary-container: #eddcff;
    --error: #ffb4ab;
    --on-error: #690005;
    --error-container: #93000a;
    --on-error-container: #ffdad6;
    --success: #abffb3;
    --on-success: #056900;
    --success-container: #0a9300;
    --on-success-container: #d6ffda;
    --surface: #1a1c1e;
    --on-surface: #e2e2e5;
    --outline: #8c9198;
    --surface-variant: #42474e;
    --on-surface-variant: #c2c7ce;

    --info-text: #325d99;
    --success-text: #0fb294;
    --warning-text: #996813;
    --danger-text: #c86e56;

    --info-bg: #ddebff;
    --success-bg: #d0f8f1;
    --warning-bg: #ffefd2;
    --danger-bg: #fee7e1;

    --info-border: #bad7ff;
    --success-border: #a1f2e3;
    --warning-border: #ffdfa5;
    --danger-border: #fdd0c4;

    background-color: var(--background);
    color: var(--on-background);
    margin: 0;
    padding: 0;
    font-family: "noto sans";
}

main {
    width: 85%;
    margin: auto;
    display: grid;
    gap: 2rem;
}

.panel {
    background-color: var(--foreground);
    width: 100%;
    overflow-x: auto;
    padding: 2rem;
    border-radius: 12px;
}

.danger {
    background-color: var(--error);
    color: var(--on-error);
}

.success {
    background-color: var(--success);
    color: var(--on-success);
}

.secondary {
    background-color: var(--secondary);
    color: var(--on-secondary);
}

.secondary-container {
    background-color: var(--secondary-container);
    color: var(--on-secondary-container);
}

.bg-green {
    background-color: lightgreen;
}

.bg-red {
    background-color: lightcoral;
}

.text-green {
    color: lightgreen;
}

.text-red {
    color: lightcoral;
}

.text-gray {
    color: gray;
}

.text-outline {
    color: var(--outline);
}

.margin-0 {
    margin: 0;
}

.inline {
    display: inline;
}

.hidden {
    display: none !important;
}

.relative {
    position: relative;
}

.width-full {
    width: 100%;
}

.width-half {
    width: 50%;
}

.button {
    border: none;
    padding: 6px 16px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 410;
    cursor: pointer;
}

.primary {
    background-color: var(--primary);
    color: var(--on-primary);
}

.primary-container {
    background-color: var(--primary-container);
    color: var(--on-primary-container);
}

.button-big {
    font-size: 1rem;
    padding: 1em;
    border: none;
}

.checkbox {
    width: 1rem;
    height: 1rem;
}

.input {
    color: var(--on-surface-variant);
    border: 1px solid var(--outline);
    border-radius: 6px;
    background: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem;
}

dialog {
    border: none;
    border-radius: 12px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog-title {
    margin-top: 0;
    margin-bottom: 1rem;
}

.data-table th {
    text-align: left;
    padding: 1rem;
}

.data-table td {
    padding: 1rem;
}

.data-table button {
    margin-right: 0.3rem;
}

.none {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

.pill {
    padding: 0.2rem 1rem;
    border-radius: 999px;
    display: inline-block;
    width: max-content;
}

.notification-container {
    width: 40%;
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.notification {
    width: 100%;
    position: relative;
    margin-bottom: 0.5rem;
    padding: 1rem 2rem;
    border-radius: 12px;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.25rem;
    animation: hide-notification 0.5s ease-in forwards;
}

.notification.can-close::after {
    content: "\00D7";
    position: absolute;
    top: 50%;
    transform: translateY(-54%);
    right: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
}

.notification-container .notification.show {
    animation: show-notification 0.5s ease-out forwards;
}

@keyframes show-notification {
    0% {
        transform: translateY(-100vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes hide-notification {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100vh);
    }
}

.info-notification {
    background-color: var(--info-bg);
    color: var(--info-text);
    border: 1px solid var(--info-border);
}

.success-notification {
    background-color: var(--success-bg);
    color: var(--success-text);
    border: 1px solid var(--success-border);
}

.error-notification {
    background-color: var(--danger-bg);
    color: var(--danger-text);
    border: 1px solid var(--danger-border);
}

.warning-notification {
    background-color: var(--warning-bg);
    color: var(--warning-text);
    border: 1px solid var(--warning-border);
}