*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    --eerie-black: #1f1f1f;
    --white-smoke: #f5f5f5;
    --jet: #2a2a2a;
    --fawn: #fdba74;
    --black-bean: #431407;
    --moonstone: #5ab1bb;
    --gunmetal: #122325;
    --chili-red: #ea2b1f;
    --sea-green: #008148;
    --white: #ffffff;
    --taupe-gray: #847e89;
    --blue-ncs: #2589bd;
    --selective-yellow: #fbaf00;

    --surface: var(--eerie-black);
    --on-surface: var(--white-smoke);
    --surface-container: var(--jet);
    --on-surface-container: var(--white-smoke);
    --border-on-surface-container: var(--taupe-gray);
    --primary: var(--fawn);
    --on-primary: var(--black-bean);
    --secondary: var(--moonstone);
    --on-secondary: var(--gunmetal);
    --danger: var(--chili-red);
    --on-danger: var(--white);
    --success: var(--sea-green);
    --on-success: var(--white);
    --info: var(--blue-ncs);
    --on-info: var(--white);
    --warning: var(--selective-yellow);
    --on-warning: var(--white);

    margin: 0;
    padding: 0;
    font-family: "noto sans";
}

main {
    width: 85%;
    margin: auto;
    display: grid;
    gap: 2rem;
}

.panel {
    width: 100%;
    overflow-x: auto;
    padding: 2rem;
    border-radius: 12px;
}

.surface {
    background-color: var(--surface);
}

.on-surface {
    color: var(--on-surface);
}

.surface-container {
    background-color: var(--surface-container);
}

.on-surface-container {
    color: var(--on-surface-container);
}

.primary {
    background-color: var(--primary);
}

.on-primary {
    color: var(--on-primary);
}

.secondary {
    background-color: var(--secondary);
}

.on-secondary {
    color: var(--on-secondary);
}

.danger {
    background-color: var(--danger);
}

.on-danger {
    color: var(--on-danger);
}

.success {
    background-color: var(--success);
}

.on-success {
    color: var(--on-success);
}

.border-on-surface-container {
    border-color: var(--border-on-surface-container);
}

.text-gray {
    color: var(--taupe-gray);
}

.margin-0 {
    margin: 0;
}

.inline {
    display: inline;
}

.hidden {
    display: none !important;
}

.none {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

.relative {
    position: relative;
}

.width-full {
    width: 100%;
}

.width-half {
    width: 50%;
}

.button {
    border: none;
    padding: 6px 16px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 410;
    cursor: pointer;
}

.pill {
    padding: 0.2rem 1rem;
    border-radius: 999px;
    display: inline-block;
    width: max-content;
}

.checkbox {
    width: 1rem;
    height: 1rem;
}

.input {
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    background: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem;
}

input:focus {
    outline-color: var(--primary);
    outline-style: solid;
    outline-width: 1px;
}

dialog {
    border: none;
    border-radius: 12px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog-title {
    margin-top: 0;
    margin-bottom: 1rem;
}

.data-table th {
    text-align: left;
    padding: 1rem;
}

.data-table td {
    padding: 1rem;
}

.data-table button {
    margin-right: 0.3rem;
}

.notification-container {
    width: 40%;
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.notification {
    width: 100%;
    position: relative;
    margin-bottom: 0.5rem;
    padding: 1rem 2rem;
    border-radius: 12px;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.25rem;
    animation: hide-notification 0.5s ease-in forwards;
}

.notification.can-close::after {
    content: "\00D7";
    position: absolute;
    top: 50%;
    transform: translateY(-54%);
    right: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
}

.notification-container .notification.show {
    animation: show-notification 0.5s ease-out forwards;
}

@keyframes show-notification {
    0% {
        transform: translateY(-100vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes hide-notification {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100vh);
    }
}

.info-notification {
    background-color: var(--info);
    color: var(--on-info);
}

.success-notification {
    background-color: var(--success);
    color: var(--on-success);
}

.error-notification {
    background-color: var(--danger);
    color: var(--on-danger);
}

.warning-notification {
    background-color: var(--warning);
    color: var(--on-warning);
}