header ul li:nth-child(1) {
    border-bottom: 5px solid var(--primary);
    border-radius: 5px;
}

.chart-container {
    margin-bottom: 1rem;
}

.text-window {
    background-color: #171717;
    width: 100%;
    min-height: 25rem;
    overflow-x: scroll;
    overflow-y: scroll;
    font-family: Helvetica;
    margin-bottom: 1rem;
    padding: 1em;
}