header ul li:nth-child(2) {
    border-bottom: 5px solid var(--primary);
    border-radius: 5px;
}

.key {
    width: 10.2rem;
    border: none;
    cursor: default;
}

.key:focus {
    outline: none;
}

.delay {
    width: 3rem;
}